@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 120px;
    padding: 140px 100px 0px 160px;
}

.left {
    width: 45%;
    height: 100%;
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left h1 {
    font-size: 110px;
    font-weight: 400;
    line-height: 100px;
}

.bottom-left {
    height: 250px;
    /* background-color: yellow; */
}

.colors {
    border-radius: 20px;
    border: 1px solid black;
    width: fit-content;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
}

.colors h5 {
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.color1 {
    height: 15px;
    width: 15px;
    background-color: rgb(137, 88, 25);
    border-radius: 50%;
    margin-right: 2px;
}

.color2 {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    margin-left: 2px;
}

.bottom-left h2 {
    font-size: 23px;
    font-weight: 600;
    margin-top: 60px;
}

.bottom-left p {
    font-size: 16px;
    font-weight: 500;
    width: 70%;
    margin-top: 8px;
    line-height: 20px;
}

.right {
    width: 30%;
    height: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* margin-top: 60px; */
    /* background-color: aquamarine; */
    position: relative;
    /* overflow: hidden; */
}

.right-top {
    height: 50px;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.right-top h4 {
    font-size: 18px;
    font-weight: 600;
}

.right-top h5 {
    font-weight: 600;
}

.right-top h5 i {
    color: gold;
}

.image {
    background-color: lightpink;
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.circle {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 80%;
}

.circle h5 {
    font-size: 16px;
    font-weight: 400;
}

#rotated {
    rotate: -90deg;
    transform-origin: 0 0;
    position: absolute;
    top: 90%;
    left: -15%;
    font-size: 30px;
    font-weight: 600;
}