@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 120px;
    padding: 9vw 10vw 0vw 9vw
}

.left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3vw;
}

.left h1 {
    font-size: 9vw;
    font-weight: 400;
    line-height: 7vw;
}

.colors {
    border-radius: 50px;
    border: 1px solid black;
    width: fit-content;
    padding: 0.6vw 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colors h5 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-right: 1vw;
}

.color1 {
    height: 1.2vw;
    width: 1.2vw;
    background-color: rgb(137, 88, 25);
    border-radius: 50%;
    margin-right: 0.4vw;
}

.color2 {
    height: 1.2vw;
    width: 1.2vw;
    background-color: black;
    border-radius: 50%;
}

.bottom-left h2 {
    font-size: 2vw;
    font-weight: 600;
    margin-top: 3vw;
}

.bottom-left p {
    font-size: 1.2vw;
    font-weight: 400;
    width: 80%;
    margin-top: 1vw;
    line-height: 1.4vw;
}

.right {
    width: 35%;
    height: 100%;
    padding-top: 2vw;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}

.right-top {
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5vw;
}

.right-top h4 {
    font-size: 1.5vw;
    font-weight: 600;
}

.right-top h5 {
    font-weight: 600;
    font-size: 1.1vw;
}

.right-top h5 i {
    color: gold;
}

.image {
    background-color: lightpink;
    width: 100%;
    height: 100%;
    /* flex: 1; */
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.circle {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 80%;
}

.circle h5 {
    font-size: 1.3vw;
    font-weight: 400;
}

#rotated {
    rotate: -90deg;
    transform-origin: 0 0;
    position: absolute;
    top: 95%;
    left: -12%;
    font-size: 2.2vw;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .circle {
        left: 85%
    }
}

@media (max-width: 768px) {
    .right {
        width: 50%;
        display: flex;
        margin-left: 0;
    }

    .right-top {
        height: 5vw;
    }

    .right-top h4 {
        font-size: 2.1vw;
    }

    .right-top h5 {
        font-size: 1.5vw;
    }

    #rotated {
        top: 95%;
        left: -14%;
        font-size: 3vw;
    }

    .left {
        width: 40%;
    }

    .left h1 {
        font-size: 12vw;
        font-weight: 400;
        line-height: 8.5vw;
    }

    .colors {
        padding: 0.8vw 1vw;
    }

    .colors h5 {
        font-size: 1.7vw;
    }

    .color1 {
        height: 1.5vw;
        width: 1.5vw;
    }

    .color2 {
        height: 1.5vw;
        width: 1.5vw;
    }

    .bottom-left h2 {
        font-size: 2.8vw;
        font-weight: 600;
    }

    .bottom-left p {
        font-size: 1.7vw;
        font-weight: 400;
        width: 90%;
        margin-top: 1vw;
        line-height: 1.8vw;
    }
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        padding: 5vh;
        padding-bottom: 0;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        /* background-color: lightgray; */
        width: 100%;
        gap: 0;
    }

    .left {
        width: 100%;
        height: 45%;
        justify-content: flex-start;
        /* align-items: flex-start; */
        gap: 0;
        /* background-color: lightpink; */
    }

    .left h1 {
        font-size: 14vw;
        font-weight: 400;
        line-height: 8.5vw;
    }

    .colors {
        padding: 0.8vw 1.5vw;
        margin-top: 50px;
    }

    .colors h5 {
        font-size: 2.2vw;
    }

    .color1 {
        height: 2vw;
        width: 2vw;
    }

    .color2 {
        height: 2vw;
        width: 2vw;
    }

    .bottom-left h2 {
        font-size: 3vw;
        font-weight: 600;
    }

    .bottom-left p {
        font-size: 2.2vw;
        width: 100%;
        margin-top: 10px;
        line-height: 2.5vw;
    }

    .right {
        width: 100%;
        height: 55%;
        /* background-color: lightseagreen; */
        display: flex;
        margin: 0;
        flex-direction: column-reverse;
        /* justify-content: flex-start; */
        /* align-items: center; */
        flex: 1;
        padding: 0 20vw 0 20vw;
    }

    .right-top {
        height: 5vw;
    }

    .right-top h4 {
        font-size: 2.1vw;
    }

    .right-top h5 {
        font-size: 1.5vw;
    }

    #rotated {
        rotate: -90deg;
        transform-origin: 0 0;
        position: relative;
        top: 90%;
        left: -15%;
        font-size: 3vw;
    }

    .image {
        background-color: cyan;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        overflow: hidden;
    }

    .image img {
        max-width: 100%;
        max-height: 100%;
        /* height: auto;
        width: auto; */
        object-fit: cover;
        object-position: top;
    }

    .circle {
        height: 13vw;
        width: 13vw;
        top: 45%;
        left: 65%;
    }

    .circle h5 {
        font-size: 1.8vw;
        font-weight: 400;
    }
}